@tailwind base;
@tailwind components;
@tailwind utilities;


.rich-text h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 2rem 0;
  }
  
  .rich-text p {
    margin: 2rem 0;
  }

  .about h1 {
    font-size: 2rem;
    font-weight: bold;

  }

  .about h2 {
    font-size: 2rem;
    font-weight: bold;
    color: chartreuse;

  }

  @media (min-width: 768px) {
    .about h2 {
        font-size: 2rem;
    }
    .about h1 {
      font-size: 2rem;
      font-weight: bold;
  
    }
  
}

@media (min-width: 1024px) {
    .about h2 {
        font-size: 2rem;
    }
    .about h1 {
      font-size: 2rem;
      font-weight: bold;
  
    }
  
}

  .clip-path-custom {
    clip-path: polygon(46% 6%, 100% 6%, 100% 30%, 100% 70%, 100% 93%, 45% 93%, 57% 50%);
  }
  

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin {
    animation: spin 1s linear infinite;
  }